.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > input {
    padding: 0.625rem;
    margin-bottom: 1.25rem;

    &:focus {
      outline: none;
    }
  }

  & > button {
    padding: 0.625rem;
    width: 6.25rem;
  }
}
